<div class="footer">
    <div class="info">
        <div class="interno">
            <h3>Formas de Pagamento</h3>

            <div class="item">
                <mat-icon fontIcon="paid"></mat-icon>
                <span> Dinheiro</span>
            </div>

            <div class="item">
                <mat-icon fontIcon="credit_card"></mat-icon>
                <span>Cartão de crédito e débito</span>
            </div>

            <div class="item">
                <mat-icon fontIcon="link"></mat-icon>
                <span>Link de pagamento</span>
            </div>

            <div class="item">
                <mat-icon fontIcon="pix"></mat-icon>
                <span>PIX</span>
            </div>

        </div>

        <div class="interno">
            <h3>Formas de Envio</h3>

            <div class="item">
                <mat-icon fontIcon="local_shipping"></mat-icon>
                <span>Entrega em domicílio</span>
            </div>

            <div class="item">
                <mat-icon fontIcon="store"></mat-icon>
                <span>Retirada na Loja</span>
            </div>

            <div class="item">
                <span>* Frete por conta do cliente</span>
            </div>
        </div>

        <div class="interno">
            <h3>Contato</h3>
            <div class="item">
                <mat-icon fontIcon="email"></mat-icon>
                <span>{{'ideia.artcria@gmail.com'}}</span>
            </div>

            <div class="item">
                <mat-icon fontIcon="call"></mat-icon>
                <span>+55 43 98841 7561</span>
            </div>

            <div class="item">
                <mat-icon fontIcon="place"></mat-icon>
                <span>Cornélio Procópio Paraná 86300-000</span>
            </div>
        </div>

        <div class="interno">
            <h3>Segurança</h3>
            <div class="item">
                <img src="assets/site-seguro.png" class="w-32 sm:w-44 md:m-0" />
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <span>&copy; {{year}} | Art Cria. Todos os direitos reservados. </span>
</div>