<mat-card>
    <div class="image-container">
        <img class="image" mat-card-imag src={{product.Imagem}} alt="{{ product.Nome }}"/>
    </div>
    <mat-card-header>
        <mat-card-title>{{ product.Nome | titlecase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h2><strong>{{ product.Preco | currency: 'BRL' }}</strong></h2>
    </mat-card-content>
    <mat-card-actions style="padding: 10px;">
        <a aria-label="Conversar no Whatsapp" href="https://api.whatsapp.com/send/?phone=554388417561&text={{TenhoInteresse()}}&type=phone_number&app_absent=0" target="_blank">
            <img src="assets/whats_icon.jpg" style="width:30px; height: 30px; margin: 10px; object-fit: cover;">
        </a>
        <button mat-button [routerLink]="['/product', product.id]">
            <span>Saiba mais</span>
        </button>
    </mat-card-actions>
</mat-card>