@if(product){
    <div class="column-container">
        <div class="container">
            <img mat-card-sm-image src="{{product.Imagem}}" />

            <div class="product-container">
                <h2>{{ product.Nome }}</h2>
                <h3>CATEGORIA</h3>

                <div class="atributos">
                    <div>
                        <div class="item">
                            <span>Marca</span>
                            <span>{{ product.Marca }}</span>
                        </div>

                        <div class="item">
                            <span>Categoria</span>
                            <span>Categoria do Produto</span>
                        </div>
                    </div>

                    <div>
                        <div class="item">
                            <span>Unidade</span>
                            <span>Unidade do produto</span>
                        </div>

                        <div class="item">
                            <span>Condição</span>
                            <span>{{ product.Condicao }}</span>
                        </div>

                    </div>
                </div>

                <div class="footer">
                    <h1>
                        <strong>
                            {{ product.Preco | currency: 'BRL' }}
                        </strong>
                    </h1>
        
                    <button mat-button>
                        <a href="https://api.whatsapp.com/send/?phone=554388417561&text={{TenhoInteresse()}}&type=phone_number&app_absent=0" target="_blank">
                            <img src="assets/whats_icon.jpg" style="width:30px; height: 30px; margin: 10px; object-fit: cover;">
                            <span>PEDIR PELO WHATS</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <h2>Descrição</h2>
            <span>{{product.Descricao}}</span>
        </div>
    </div>
}
@else {
    <app-no-products-message></app-no-products-message>
}